{% extends "base.html" %}
{% block title %}Create a question{% endblock %}
{% block content %}
    {{lesson.1}} / {{lesson.2}}<BR>
        {% if form.number.value %}
            {% if scores.1 > 0 %}
            分數：{{ scores.0 }} / 
            評分者：{{ scores.1 }}
            {% else %}
            尚未評分        
            <form action="" method="post">{% csrf_token %}
            作品編號：{{ form.number }}<a target=_blank href="/student/work_help"><img src="/static/images/help.png"></a><BR>
            心得感想：{{form.memo}}<BR>
            <input type="submit" value="送出" />
            </form>
            {% endif %}
        {% else %}
            狀態：未繳交
            <br>
            <form action="" method="post">{% csrf_token %}
            作品編號：{{ form.number }}<a target=_blank href="/student/work_help"><img src="/static/images/help.png"></a><BR>
            心得感想：{{form.memo}}<BR>
            <input type="submit" value="送出" />
            </form>
        {% endif %}
        <br>
        {% if form.number.value %}
        <iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{ form.number.value }}/?autostart=false" frameborder=“0” allowfullscreen></iframe>
        <BR>心得</BR>{{form.memo}}
        {% endif %}
{% endblock %}