{% extends "base.html" %}
{% block title %}{{ show.title }}
{% endblock %}
{% block head_ext %}
<!-- bootstrap javascript library: BEGIN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- bootstrap javascript library: END -->
<!-- bootstrap slide library: BEGIN -->
<link href="/static/css/bootstrap-slider.css" rel="stylesheet" type="text/css">
<script src="/static/js/bootstrap-slider.js"></script>
<!-- bootstrap slide library: END -->
{% endblock %}
{% load tz %}
{% block content %}
            {% if form.errors %}
            <h1>表單資料有誤</h1>
            {% endif %}

  <h1>組別：{{show.name}}</h1>
  <h1>組員：{% for member in members %}<A href="/account/profile/{{member.student.id}}"><img src="/static/avatar/s{{ member.student.profile.avatar }}.png"></a>({{member.seat}}){{member.student.first_name}}{% endfor %}</h1>
  <h1>{{ show.title }}</h1>

    作品：<a target=_blank href="https://scratch.mit.edu/projects/{{show.number}}/#editor">{{show.number}}</a>
    <BR>
  <iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{ show.number  }}/?autostart=false" frameborder=“0” allowfullscreen></iframe>
  <BR></BR>
  <p class="date">
    {{ show.publish|timezone:'Asia/Taipei' }}
  </p>
  {{ show.body|linebreaks }}
<H1>評分</H1>
  <form action="." method="post" onsubmit="return checkRegistration()">
<table>
<tr><th><label for="id_score1">美工設計:</label></th><th>{{form.score1}}</th></tr>
<tr><th><label for="id_score2">程式難度:</label></th><th>{{form.score2}}</</th></tr>
<tr><th><label for="id_score3">創意表現:</label></th><th>{{form.score3}}</</th></tr>

<tr><td><label for="id_comment">評語:</label></td><td>{{form.comment}}</td></tr>
<!--
   {{ form.as_table }}
-->
   {% csrf_token %}
   <tr><td></td><td><input type="submit" value="送出"></td></tr>

</table>
  </form>  
<H1>評分結果({{scores.3}}人)</h1>
美工設計：{{scores.0}}  程式難度：{{scores.1}} 創意表現：{{scores.2}}<BR>
評語：<BR>
{% for review in reviews %}
{{review.student.first_name}}:{{review.comment}}<BR>
{% endfor %}
{% if show.picture %}
<A name=drscratch>
<h1>Dr. Scratch分析圖</h1>
<img src="/{{show.picture}}">
{% endif %}
{% endblock %}
{% block userscript %}
var content = document.getElementById('id_comment').value;    
var scoreInputList = [
	{id: 'id_score1', val: {{ score.0 }} }, 
	{id: 'id_score2', val: {{ score.1 }} }, 
	{id: 'id_score3', val: {{ score.2 }} }, 
];
var i, slsize = scoreInputList.length;
for (i = 0; i < slsize; ++i) {
	var si = scoreInputList[i];
	$('#'+si.id).slider({
		ticks: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
		ticks_labels: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
		step: 10,
		value: si.val,
	});
	
function checkRegistration(){
    var form_valid = (document.getElementById('id_comment').value != '');
    if(!form_valid){
        alert('評語不能留白');
        document.getElementById("id_comment").focus();
        return false;
    }
    return true;
}
}


{% endblock %}
