{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% load tz %}
{% block content %}
  <h1>{{ post.title }}</h1>

    作品：<a target=_blank href="https://scratch.mit.edu/projects/{{post.number}}/#editor">{{post.number}}</a>
    <BR>
  <iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{ post.number  }}/?autostart=false" frameborder=“0” allowfullscreen></iframe>
  <BR></BR>
  <div>
  {% with total_likes=post.users_like.count users_like=post.users_like.all %}
    <span class="count">
    <span class="total">{{ total_likes }}</span>個人說讚
    </span>    
    <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
      {% if request.user not in users_like %}
        <img src="/static/images/thumb_off.png">
      {% else %}
        <img src="/static/images/thumb_on.png">
      {% endif %}
    </a>
    <div id="like_users">
    說讚的人：
    {% for user in users_like %}
        {{user.first_name}}
    {% endfor %}
    </div>
  {% endwith %}    
  </div>    

  <p class="date">
    Published {{ post.publish|timezone:'Asia/Taipei' }} by {{ post.author.first_name }}
  </p>
  {{ post.body|linebreaks }}
{% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.revcounter }} by --{{ comment.author.first_name }}--
      {{ comment.publish|timezone:'Asia/Taipei' }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>目前沒有回應文章</p>
{% endfor %}  
{% endwith %}  
  <h2>Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endblock %}
{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('/blog/like',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');
                   
          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          // toggle link text
          $('a.like').html(previous_action == 'like' ? '<img src="/static/images/thumb_on.png">' : '<img src="/static/images/thumb_off.png">');
                   
          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);              
          
          var u = "";
          if (data['users'].length > 0) {
            u = "說讚的人："
          
            for (var i  = 0; i < data['users'].length; ++i) {
                u += " " + data['users'][i];
            }
          }
          $('#like_users').text(u);
          
        }
      }
    );
  });
{% endblock %}